@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --verified: #29874b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.whatsappLink{
  background-color: #25D366;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.telegramLink{
  background-color: #0088cc;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th:last-child {
  width: 100%;
}

.bg-verified {
  background-color:  var(--verified);
  color: white;
}

.text-verified{
  color: var(--verified);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
